body {
	font-size: 140%;
	background-color: lightgray;
}

header nav {
	display: flex;
	flex-direction: row;
}
header nav a {
	padding: 1em;
	margin: 0em 0.5em;
}
header nav a:hover {
	background-color: beige;
}
header nav a.active {
	background-color: rgb(170, 152, 110);
}